.messages {
   grid-area: mes;
   width: 100%;
   overflow: auto;
   display: flex;
   flex-direction: column-reverse;
   .tooo {
     color: rgb(226, 223, 223);
     font-weight: 800px;
     position: absolute;
     margin: 3px;
     bottom: 60px;
     font-size: 18x;
   }
}
.messages::-webkit-scrollbar {
   width: 4px;              
 }
 .messages::-webkit-scrollbar-track {
   background: rgb(224, 224, 224);    
 }
 .messages::-webkit-scrollbar-thumb {
   background-color: rgb(165, 164, 164);
   border-radius: 20px; 
 }