.message {
   margin-bottom: 4px;
   display: flex;
  
   .photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 5px 10px;
   }

   .field_message {
      padding: 3px;
      margin: 0px 10px;
      position: relative;
      background-color: rgba(12, 96, 99, 0.5);
      border-radius: 5px;
     /* &::before {
         content: "";
         width: 0;
         height: 0;
         position: absolute;
         right: 100%;
         bottom: 0;
         border-top: 10px solid transparent;
         border-right: 24px solid rgb(177, 177, 177, 0.3);;
         border-bottom: 8px solid transparent;
      }*/
      .author {
         color: rgb(243, 242, 242);
         font-size: 16px;
         font-weight: 600;
      }
      .mes {
         color: rgb(255, 255, 255);
         font-size: 13px;
      }
      .date {
         color: rgb(231, 203, 203);
         font-size: 10px;
         font-weight: 500;
         margin: 0px 10px;
      }
   }
}
.left {
   margin-bottom: 4px;
   display: flex;
   margin-left: auto;

  
   .photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 5px 10px;
   }

   .field_message {
      padding: 3px;
      margin: 0px 10px;
      position: relative;
      background-color: rgba(12, 96, 99, 0.5);
     /* &::before {
         content: "";
         width: 0;
         height: 0;
         position: absolute;
         right: 100%;
         bottom: 0;
         border-top: 10px solid transparent;
         border-right: 24px solid rgb(177, 177, 177, 0.3);;
         border-bottom: 8px solid transparent;
      }*/
      .author {
         color: rgb(243, 242, 242);
         font-size: 16px;
         font-weight: 600;
      }
      .mes {
         color: rgb(255, 255, 255);
         font-size: 13px;
      }
      .date {
         color: rgb(231, 203, 203);
         font-size: 10px;
         font-weight: 500;
         margin: 0px 10px;
      }
   }
}